/* RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MAIN */

:root {
    --highlight-color: #e9327e;
}

::selection {
    background: var(--highlight-color); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: var(--highlight-color);
    color: white;
  }

html, body, main, main .editor {
    height: 100%;
}

main {
    background-color: rgb(255, 214, 161);
}

main .editor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* main .editor > textarea {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-weight: 400;
    height: 100%;
    width: 100%;
    resize: none;
    border-style: none; 
    border-color: Transparent;
    outline: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: 2.5rem;
    font-family: 'Fresca', sans-serif;
    border: 2px solid black;
    line-height: 3rem;
} */


main .editor > textarea {
    position: fixed;
    left: 3rem;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-weight: 400;
    height: 20rem;
    width: 20rem;
    resize: none;
    border-style: none; 
    border-color: Transparent;
    outline: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: 2.5rem;
    font-family: 'Fresca', sans-serif;
    border: 2px solid black;
    line-height: 3rem;
}


::placeholder {
    color: rgb(255, 69, 109);
    font-size: 2rem;
}

.toolbox-safearea {
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
}

.toolbox {
    height: 30px;
    width: 30px;
    position: fixed;
    background-color: #cf1351;
    border-radius: 0.2rem;
    top: 1rem;
    left: -1.4rem;
    overflow: hidden;
    transition: 0.2s;
}
