/* RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MAIN */

:root {
    --highlight-color: rgb(29, 0, 49);
}

::selection {
    background: var(--highlight-color);
    color: white; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: var(--highlight-color);
    color: white;
  }

html, body, main, main .editor {
    height: 100%;
    overflow: hidden;
    scrollbar-width: thin;
    font-family: 'Mukta', sans-serif;
}

main {
    background-color: rgb(255, 214, 161);
}

#ui {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
}

.editor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    grid-column: 2/3;
    grid-row: 1/2;
}

.boundbox {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

 textarea {
    color: rgb(0, 0, 0);
    font-weight: 400;
    height: 100%;
    width: 100%;
    resize: none;
    border-style: none; 
    border-color: Transparent;
    outline: none;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Mukta', sans-serif;
    line-height: 3rem;
}

main > .sidebar, main .editor > textarea {
    box-sizing: border-box;
    /* border-radius: 10px; */
    border: 0.4px solid black;
}

main .sidebar {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0 1rem;
    overflow-y:auto;
}

main .sidebar .todo {
    height: 1rem;
    background-color: aqua;
    padding: 0.3rem;
    border-radius: 4px;
}


::placeholder {
    color: rgb(255, 69, 109);
    font-size: 2rem;
}

.close-btn {
    height: 15px;
    width: 15px;
    border-radius: 333rem;
    background-color: rgba(255, 0, 0, 30%);
    position: absolute;
    top: 1%;
    margin-left: 5px;
}

.close-btn:hover {
    transition: 0.4s;
    background-color: rgba(255, 0, 0, 100%);
}

.new-btn {
    height: 2rem;
    width: 5rem;
    background-color: blue;
    border-radius: 44rem;
    position: absolute;
    bottom: 1%;
    margin-left: 4rem;
}

.popup {
    position: fixed;
    z-index: 500;
    height: 300px;
    width: 300px;
    background-color: grey;
    border-radius: 1rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    visibility: hidden;
}

.visible {
    visibility: visible;
}
